name: Clean old sources

on:
  workflow_dispatch:

jobs:
  clean:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Удаляем старые исходники
        run: |
          rm -rf src/main/java/*
          rm -rf src/main/resources/*
          echo "Старые файлы удалены"

      - name: Коммит очистки
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Cleanup: удалены старые исходники"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:main
